<div class="main-container">
  <div class="content-container">
    <div class="filter-sidebar">
      <div class="side-bar-content">
        <span class="header-sidebar">FILTERS</span>
        <div class="sidebar-list">
        <!-- Country Filter Section -->
<div class="filter-section">
  <div class="filter-header" (click)="toggleCountry()">
    <span class="filter-title">Country</span>
    <div class="toggle-container">
      <span class="toggle-icon">{{ isCountryOpen ? '-' : '+' }}</span>
    </div>
  </div>

  <div class="filter-content" *ngIf="isCountryOpen">
    <!-- Country Search Box - Only filters displayed countries -->
    <div class="search-box">
      <input 
        class="input-search" 
        type="text" 
        placeholder="Search countries..." 
        [(ngModel)]="countrySearchQuery">
      <div class="svg-content">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30" fill="none">
          <path d="M25.8648 23.122L20.4231 17.6803C21.2439 16.3339 21.7162 14.7499 21.7162 13.0579C21.7162 8.1374 17.4523 3.875 12.5319 3.875C7.61138 3.875 3.62402 7.86236 3.62402 12.7828C3.62402 17.7019 7.88786 21.9657 12.8069 21.9657C14.4442 21.9657 15.9749 21.5208 17.2925 20.7504L22.7631 26.2238C23.2987 26.758 24.1671 26.758 24.7013 26.2238L26.0592 24.8659C26.5935 24.3316 26.3991 23.6563 25.8648 23.122ZM6.36578 12.7828C6.36578 9.3758 9.12626 6.61532 12.5319 6.61532C15.9375 6.61532 18.9744 9.6494 18.9744 13.0579C18.9744 16.4635 16.2125 19.2254 12.8069 19.2254C9.4013 19.2254 6.36578 16.1884 6.36578 12.7828Z" fill="#FA4C06" />
        </svg>
      </div>
    </div>

    <!-- Country Checkboxes - Filtered List -->
    <div class="check-box-list" *ngFor="let country of filteredCountries">
      <input 
        type="checkbox" 
        [id]="'country-' + country.code" 
        [checked]="country.checked"
        (change)="country.checked = !country.checked; onCheckboxChange()">
      <label [for]="'country-' + country.code">
        {{ country.code }}
      </label>
      <span class="result-number">(15)</span>
    </div>
  </div>
</div>

<!-- Plate Search Section -->
<!-- Plate Search Section -->
<div class="filter-section">
  <div class="filter-header">
    <span class="filter-title">Search Plates</span>
  </div>
  <div class="filter-content">
    <!-- Plate Search Box - Sends to API with debounce -->
    <div class="search-box">
      <input 
        class="input-search" 
        type="text" 
        [(ngModel)]="plateSearchQuery" 
        (ngModelChange)="onPlateSearchChange()"
        placeholder="Enter plate number or text...">
      <div class="svg-content">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30" fill="none">
          <path d="M25.8648 23.122L20.4231 17.6803C21.2439 16.3339 21.7162 14.7499 21.7162 13.0579C21.7162 8.1374 17.4523 3.875 12.5319 3.875C7.61138 3.875 3.62402 7.86236 3.62402 12.7828C3.62402 17.7019 7.88786 21.9657 12.8069 21.9657C14.4442 21.9657 15.9749 21.5208 17.2925 20.7504L22.7631 26.2238C23.2987 26.758 24.1671 26.758 24.7013 26.2238L26.0592 24.8659C26.5935 24.3316 26.3991 23.6563 25.8648 23.122ZM6.36578 12.7828C6.36578 9.3758 9.12626 6.61532 12.5319 6.61532C15.9375 6.61532 18.9744 9.6494 18.9744 13.0579C18.9744 16.4635 16.2125 19.2254 12.8069 19.2254C9.4013 19.2254 6.36578 16.1884 6.36578 12.7828Z" fill="#FA4C06" />
        </svg>
      </div>
    </div>
  </div>
</div>

         <div class="filter-section">
  <div class="filter-header">
    <span class="filter-title">Price Range</span>
  </div>

  <div class="price-range">
    <div class="slider-container">
     <ngx-slider 
  *ngIf="isBrowser"
  [(value)]="priceRange.min" 
  [(highValue)]="priceRange.max" 
  [options]="options"
  (userChange)="onSliderChange($event)"
  (userChangeEnd)="onSliderChange($event)">
</ngx-slider>
    </div>

    <div class="price-inputs">
      <!-- Min Price -->
      <div class="price-input-wrapper">
        <label class="label">Min</label>
        <div class="price-input-container">
          <span class="currency-label">SAR</span>
          <input 
            type="number"
            [(ngModel)]="priceRange.min"
            [min]="absoluteMin"
            [max]="absoluteMax"
            (blur)="onMinInputChange()"
            class="price-number">
        </div>
      </div>

      <!-- Max Price -->
      <div class="price-input-wrapper">
        <label class="label">Max</label>
        <div class="price-input-container">
          <span class="currency-label">SAR</span>
          <input 
            type="number"
            [(ngModel)]="priceRange.max"
            [min]="absoluteMin"
            [max]="absoluteMax"
            (blur)="onMaxInputChange()"
            class="price-number">
        </div>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  <div class="card-container">
  <div class="card-section">
    <div *ngFor="let plate of filteredPlates" class="product-card">

      <!-- Plate display -->
      <div class="product-image" [ngClass]="getPlateBackgroundClass(plate)">
        <!-- Saudi Plate -->
        <ng-container *ngIf="getCountryCode(plate) === 'KSA'; else NonSaudi">
          <div *ngIf="getSaudiPlateParts(plate) as parts">
            <div class="saudi-plate-container">
              <div class="saudi-plate">
                <div class="saudi-grid">
                  <div class="saudi-cell">{{ parts.arNumbers }}</div>
                  <div class="saudi-cell">{{ parts.arLetters }}</div>
                  <div class="saudi-cell">{{ parts.enNumbers }}</div>
                  <div class="saudi-cell saudi-en-letters">{{ parts.enLetters }}</div>
                </div>
                <div class="saudi-sidebar">
                  <img src="/pictures/simple-icons_saudia.svg" alt="KSA" class="country-icon" />
                  <span class="country-code">KSA</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Non-Saudi Plate -->
        <ng-template #NonSaudi>
          <div class="non-saudi-plate">
            <!-- Plate Fields -->
            <div class="plate-main">
              <ng-container *ngIf="getPlateFieldMap(plate) as fieldMap">
                <!-- City (top-center) -->
                <div class="city-label">
                  {{ plate.license_plate?.plate_location?.city }}
                </div>
                
                <!-- Country (bottom-center) - Abbreviated -->
                <div class="country-label">
                  {{ getCountryCodeAbbreviated(plate) }}
                </div>
                
                <!-- Dynamic fields -->
                <ng-container *ngFor="let pos of allPositions">
                  <div *ngIf="fieldMap[pos]" [ngClass]="getPositionClass(pos)" class="plate-field">
                    {{ fieldMap[pos] }}
                  </div>
                </ng-container>
                
                <!-- Separators for 3-field layouts -->
                <!-- Left separator (between left-center and center) -->
                <div *ngIf="fieldMap['left-center'] && fieldMap['center']"
                  class="plate-separator-left">
                </div>
                
                <!-- Right separator (between center and right-center) -->
                <div *ngIf="fieldMap['center'] && fieldMap['right-center']"
                  class="plate-separator-right">
                </div>
                
                <!-- Single separator for 2-field layouts -->
                <div *ngIf="fieldMap['left-center'] && fieldMap['right-center'] && !fieldMap['center']"
                  class="plate-separator">
                </div>
              </ng-container>
            </div>
            
            <!-- Country Sidebar -->
            <div [ngClass]="getSidebarClass(plate)" class="country-sidebar">
              <ng-container [ngSwitch]="getCountryCode(plate)">
                <ng-container *ngSwitchCase="'UAE'">
                  <img src="/pictures/simple-icons_emirates.svg" alt="UAE" class="country-icon" />
                  <span class="country-code">UAE</span>
                </ng-container>
                <ng-container *ngSwitchCase="'KW'">
                  <div class="kuwait-text">
                    <span>K</span><span>W</span><span>T</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <img src="/pictures/simple-icons_saudia.svg" alt="KSA" class="country-icon" />
                  <span class="country-code">KSA</span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </div>

      <!-- Plate Details -->
      <div class="product-content">
        <div class="info-container">
          <div class="head-style">
            <h3 class="product-title" [title]="plate.title">{{ plate.title }}</h3>
            <p class="product-description">{{ getCountryName(plate) }}</p>
          </div>
          
          <p class="price-value">
            {{ plate.price || '0' }}
            {{ getCountryCode(plate) === 'UAE' ? 'AED' : 'SAR' }}
          </p>
          
          <div class="btn-view">   
            <button (click)="viewListing(plate.id)" class="view-button">
              View Plate
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>






















