<!-- navbar.component.html -->
<nav class="bg-gray-900 text-white p-4 flex justify-between items-center">



<img routerLink="/home" src="/pictures/mainLogo.png" alt="Dab" />

  @if(isLoggedIn){
  <ul class="flex space-x-4">
    <li><a (click)="selectMenu('home')" class="hover:text-gray-300">Home</a></li>
    <li><a (click)="selectMenu('marketplace')" class="hover:text-gray-300">Marketplace</a></li>
    <li><a (click)="selectMenu('usedParts')" class="hover:text-gray-300">Used Parts</a></li>
    <li><a (click)="selectMenu('services')" class="hover:text-gray-300">Services</a></li>
    <li><a (click)="selectMenu('guide')" class="hover:text-gray-300">Guide</a></li>
    <li><a (click)="selectMenu('contact-us')" class="hover:text-gray-300">Contact Us</a></li>
    <li><a (click)="selectMenu('about-us')" class="hover:text-gray-300">About Us</a></li>
  </ul>


  <div class="relative">
    <button
      (click)="toggleDropdown()"
      style="background-color: #fff;"
      class="bg-white px-4 py-2 rounded-lg text-black flex items-center gap-2"
    >
    {{ userName }} <i class="fa-regular fa-user"></i>
    </button>

    <!-- Dropdown Menu -->
    @if(showDropdown) {
      <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
        <div class="py-1">
          <a

            class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
            (click)="navigateToProfile(); $event.preventDefault()"
          >
            Profile
          </a>
          <a

            class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
            (click)="logout(); $event.preventDefault()"
          >
            Logout
          </a>
        </div>
      </div>
    }
  </div>
}
@else {
  <ul class="flex space-x-4">
    <li><a routerLink="/home" class="hover:text-gray-300">Home</a></li>
    <li><a routerLink="/motorcycles" class="hover:text-gray-300">Motorcycles</a></li>
    <li><a routerLink="/spareparts" class="hover:text-gray-300">Spare Parts</a></li>
    <li><a routerLink="/plates" class="hover:text-gray-300">Plates</a></li>
  </ul>

  <button routerLink="/login" style="background-color: #F03D24;" class="bg-white px-4 py-2 rounded-lg">Sign In</button>
}


</nav>
