:host {
  display: block;
  width: 100vw; /* Full viewport width */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

section {
  width: 100%;
  padding: 32px 80px 48px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  box-sizing: border-box;
}

.products-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}