<!-- <main class="w-[1440px]  flex flex-col items-start"> -->
<!-- <div class="home-page-container">
    <app-used-moto-cycles-section></app-used-moto-cycles-section>
  <app-used-spare-parts-section></app-used-spare-parts-section>
  <app-plates-section></app-plates-section>
 
</div>
 <app-recently-added-products></app-recently-added-products>
 -->

 <div class="home-page-wrapper">
  <div class="home-page-container">
    <app-used-moto-cycles-section></app-used-moto-cycles-section>
    <app-used-spare-parts-section></app-used-spare-parts-section>
    <app-plates-section></app-plates-section>
  </div>
  
  <app-recently-added-products></app-recently-added-products>
</div>

<!-- <main class="w-full max-w-[1440px] mx-auto flex flex-col items-start">
    <app-used-moto-cycles-section  style="width:100%"></app-used-moto-cycles-section>
  <app-used-spare-parts-section  style="width:100%"></app-used-spare-parts-section>
  <app-plates-section style="width:100%"></app-plates-section>
  <app-recently-added-products  style="width: 99%;"></app-recently-added-products>
</main> -->
