/* product-card.component.css */
.product-card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-5px);
}

.plate-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ksa-card .plate-container {
  background-color: #e8f5e9;
}

.uae-card .plate-container {
  background-color: #e8eaf6;
}

.kuwait-card .plate-container {
  background-color: #ffebee;
}

.license-plate {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 6px;
  overflow: hidden;
  width: 220px;
}

.plate-top, .plate-bottom {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: white;
}

.plate-number, .plate-letter, .plate-number-arabic, .plate-letter-arabic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-weight: bold;
  font-size: 27px;
  width: 50%;
  border-bottom: 1px solid black;
}

.plate-letter, .plate-letter-arabic {
  border-left: 2px solid black;
}

.country-badge {
  position: relative;
  /* right: 20px;
  top: 20px; */
  height: 120px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: bold;
  /* border: 2px solid black; */
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ksa-card .country-badge {
  background-color: #4caf50;
}

.uae-card .country-badge {
  background-color: #3f51b5;
}

.kuwait-card .country-badge {
  background-color: #f44336;
}

.product-info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-label {
  font-size: 14px;
  color: #666;
}

.info-value {
  font-size: 16px;
  font-weight: 500;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 15px;
}

.view-btn {
  padding: 10px;
  text-align: center;
  color: #f44336;
  background-color: white;
  border: 1px solid #f44336;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.view-btn:hover {
  background-color: #f44336;
  color: white;
}
