
<div class="border-b mb-6">
  <nav class="flex space-x-6 overflow-x-auto">
    <span
      *ngFor="let tab of tabs"
      (click)="setActiveTab(tab)"
      class="cursor-pointer py-2 px-1 border-b-2 whitespace-nowrap"
      [ngClass]="{
        'border-red-600 text-red-600': activeTab === tab,
        'border-transparent text-gray-600 hover:text-red-600': activeTab !== tab
      }"
    >
      {{ tab }}
    </span>
  </nav>
</div>

<div [ngSwitch]="activeTab">
  <app-profile-card *ngSwitchCase="'Home'"></app-profile-card>
  <!-- <app-home-tab *ngSwitchCase="'Home'"></app-home-tab>
  <app-settings-tab *ngSwitchCase="'Settings'"></app-settings-tab>
  <app-orders-tab *ngSwitchCase="'Orders'"></app-orders-tab>
  <app-payment-info-tab *ngSwitchCase="'Payment Information'"></app-payment-info-tab>
  <app-addresses-tab *ngSwitchCase="'Addresses'"></app-addresses-tab>
  <app-garage-tab *ngSwitchCase="'My Garage'"></app-garage-tab>-->
  <app-settings *ngSwitchCase="'Settings'"></app-settings>
  <app-saved-vehicles *ngSwitchCase="'Wishlist'"></app-saved-vehicles>
</div>
